

trigger: none
pool: selfhostagent



steps:
- task: PowerShell@2
  displayName: Install TFLint
  inputs:
    targetType: inline
    script: |
      $version = "v0.50.3"
      Invoke-WebRequest `
        -Uri "https://github.com/terraform-linters/tflint/releases/download/$version/tflint_windows_amd64.zip" `
        -OutFile "tflint.zip"

      Expand-Archive tflint.zip -DestinationPath C:\tflint -Force

      $env:PATH += ";C:\tflint"

      tflint --version

