trigger: none

pool: selfhostagent

variables:
  azureServiceConnection: "ashu-Service-connection"
  terraformRoot: "$(System.DefaultWorkingDirectory)/Azure-VM_SQLdatabase_KeyV-Secret_using_datablock/root"

stages:
- stage: Init
  dependsOn: []
  jobs:
  - job: InitJob
    steps:
    - checkout: self
    - task: AzureCLI@2
      inputs:
        azureSubscription: $(azureServiceConnection)
        scriptType: ps
        scriptLocation: inlineScript
        inlineScript: |
          cd "$(terraformRoot)"
          terraform init `
            -backend-config="resource_group_name=rg-bknd-ashu" `
            -backend-config="storage_account_name=stgbkendpipelineashu" `
            -backend-config="container_name=tfcontainer" `
            -backend-config="key=dev.tfstate"

            
- stage: Lint_Scan
  dependsOn: Init
  jobs:
  - job: LintScanJob
    steps:
    - checkout: self

    - task: AzureCLI@2
      displayName: TFLint
      inputs:
        azureSubscription: $(azureServiceConnection)
        scriptType: ps
        scriptLocation: inlineScript
        inlineScript: |
          cd "$(terraformRoot)"
          tflint --init
          tflint

    - task: AzureCLI@2
      displayName: TFSEC
      inputs:
        azureSubscription: $(azureServiceConnection)
        scriptType: ps
        scriptLocation: inlineScript
        inlineScript: |
          cd "$(terraformRoot)"
          tfsec


- stage: Plan
  dependsOn: Init
  jobs:
  - job: PlanJob
    steps:
    - checkout: self
    - task: AzureCLI@2
      inputs:
        azureSubscription: $(azureServiceConnection)
        scriptType: ps
        scriptLocation: inlineScript
        inlineScript: |
          cd "$(terraformRoot)"
          terraform init `
            -backend-config="resource_group_name=rg-bknd-ashu" `
            -backend-config="storage_account_name=stgbkendpipelineashu" `
            -backend-config="container_name=tfcontainer" `
            -backend-config="key=dev.tfstate"
    - task: AzureCLI@2
      inputs:
        azureSubscription: $(azureServiceConnection)
        scriptType: ps
        scriptLocation: inlineScript
        inlineScript: |
          cd "$(terraformRoot)"
          terraform plan

- stage: Apply
  dependsOn: Plan
  jobs:
  - job: ApplyJob
    steps:
    - checkout: self
    - task: AzureCLI@2
      inputs:
        azureSubscription: $(azureServiceConnection)
        scriptType: ps
        scriptLocation: inlineScript
        inlineScript: |
          cd "$(terraformRoot)"
          terraform init `
            -backend-config="resource_group_name=rg-bknd-ashu" `
            -backend-config="storage_account_name=stgbkendpipelineashu" `
            -backend-config="container_name=tfcontainer" `
            -backend-config="key=dev.tfstate"
    - task: AzureCLI@2
      inputs:
        azureSubscription: $(azureServiceConnection)
        scriptType: ps
        scriptLocation: inlineScript
        inlineScript: |
          cd "$(terraformRoot)"
          terraform apply -auto-approve
