

trigger: none
pool: selfhostagent


stages:
- stage: PreCommit
  displayName: terraform init
  jobs:
  - job: InitJob
    displayName: Terraform Init
    steps: 
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Azure-VM_SQLdatabase_KeyV-Secret_using_datablock/root'
        backendServiceArm: 'ashu-Service-connection'
        backendAzureRmResourceGroupName: 'rg-bknd-ashu'
        backendAzureRmStorageAccountName: 'stgbkendpipelineashu'
        backendAzureRmContainerName: 'tfcontainer'
        backendAzureRmKey: 'root.tfstate'

    - task: PowerShell@2
      continueOnError: true
      inputs:
        targetType: 'inline'
        script: |
          cd $(System.DefaultWorkingDirectory)/Azure-VM_SQLdatabase_KeyV-Secret_using_datablock/root
          tflint --init
          tflint

    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: |
          cd $(System.DefaultWorkingDirectory)/Azure-VM_SQLdatabase_KeyV-Secret_using_datablock/root
          checkov -d


