

trigger: none
pool: selfhostagent

stages:
- stage: LintAndCheckov
  displayName: tflint checkov
  jobs:
  - job: LintAndCheckovJob
    displayName: Terraform Lint And Checkov
    continueOnError: true
    steps: 
    # - task: TerraformTask@5
    #   displayName: TerraformInit
    #   continueOnError: true
    #   inputs:
    #     provider: 'azurerm'
    #     command: 'init'
    #     workingDirectory: '$(System.DefaultWorkingDirectory)/Azure-VM_SQLdatabase_KeyV-Secret_using_datablock/root'
    #     backendServiceArm: 'ashu-Service-connection'
    #     backendAzureRmResourceGroupName: 'rg-bknd-ashu'
    #     backendAzureRmStorageAccountName: 'stgbkendpipelineashu'
    #     backendAzureRmContainerName: 'tfcontainer'
    #     backendAzureRmKey: 'root.tfstate'

    - task: PowerShell@2
      displayName: tflint
      continueOnError: true
      inputs:
        targetType: 'inline'
        script: |
          cd $(System.DefaultWorkingDirectory)/Azure-VM_SQLdatabase_KeyV-Secret_using_datablock/root
          tflint --init
          tflint

    - task: PowerShell@2
      displayName: checkov
      continueOnError: true
      inputs:
        targetType: 'inline'
        script: |
          $env:HOME = "$env:USERPROFILE"
          cd $(System.DefaultWorkingDirectory)/Azure-VM_SQLdatabase_KeyV-Secret_using_datablock/root
          checkov -d . --framework terraform

- stage: Validate
  dependsOn: LintAndCheckov
  displayName: Terraform Validate
  jobs:
  - job: TerraformValidate
    displayName: Terraform Validate
    continueOnError: true
    steps:

    - task: TerraformTask@5
      displayName: TerraformInit
      continueOnError: true
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Azure-VM_SQLdatabase_KeyV-Secret_using_datablock/root'
        backendServiceArm: 'ashu-Service-connection'
        backendAzureRmResourceGroupName: 'rg-bknd-ashu'
        backendAzureRmStorageAccountName: 'stgbkendpipelineashu'
        backendAzureRmContainerName: 'tfcontainer'
        backendAzureRmKey: 'root.tfstate'
    - task: TerraformTask@5
      displayName: terraform validate
      continueOnError: true
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Azure-VM_SQLdatabase_KeyV-Secret_using_datablock/root'


- stage: plan
  dependsOn: 
  - LintAndCheckov
  - Validate
  displayName: Terraform plan infra cost
  jobs:
  - job: terraformPlan
    continueOnError: true
    displayName: Terraform Init
    steps: 
    - task: TerraformTask@5
      displayName: Terraform Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Azure-VM_SQLdatabase_KeyV-Secret_using_datablock/root'
        backendServiceArm: 'ashu-Service-connection'
        backendAzureRmResourceGroupName: 'rg-bknd-ashu'
        backendAzureRmStorageAccountName: 'stgbkendpipelineashu'
        backendAzureRmContainerName: 'tfcontainer'
        backendAzureRmKey: 'root.tfstate'

    - task: TerraformTask@5
      continueOnError: true
      displayName: Terraform Plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Azure-VM_SQLdatabase_KeyV-Secret_using_datablock/root'
        environmentServiceNameAzureRM: 'ashu-Service-connection'

    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: |
          Start-BitsTransfer `
            -Source https://github.com/infracost/infracost/releases/download/v0.10.43/infracost-windows-amd64.zip
            -Destination infracost.zip
          
          Expand-Archive infracost.zip infracost -Force
          
          .\infracost\infracost.exe --version
          .\infracost\infracost.exe breakdown --path $(System.DefaultWorkingDirectory)/dev --format table --api-key ico-qbgidTFYPSyYajjiobnp8QywUx08BGMO




- stage: ManualValidation
  displayName: Manual Validation Check
  dependsOn: plan
  jobs:
  - job: ManualValidationJob
    pool: server
    steps:
    - task: ManualValidation@1
      displayName: ManualValidation
      inputs:
        approvers: 'ashuchauhanks@gmail.com'
        instructions: 'pls check and approve, if valid'


- stage: Apply
  displayName: Terraform Apply
  dependsOn: ManualValidation
  jobs:
  - job: Apply
    displayName: Terraform apply
    steps:
    - task: TerraformTask@5
      displayName: Terraform Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Azure-VM_SQLdatabase_KeyV-Secret_using_datablock/root'
        backendServiceArm: 'ashu-Service-connection'
        backendAzureRmResourceGroupName: 'rg-bknd-ashu'
        backendAzureRmStorageAccountName: 'stgbkendpipelineashu'
        backendAzureRmContainerName: 'tfcontainer'
        backendAzureRmKey: 'root.tfstate'

    - task: TerraformTask@5
      displayName: Terraform apply
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Azure-VM_SQLdatabase_KeyV-Secret_using_datablock/root'
        commandOptions: '-auto-approve'
        environmentServiceNameAzureRM: 'ashu-Service-connection'