trigger: none

pool: selfhostagent

variables:
  terraformVersion: "1.6.6"
  azureServiceConnection: "ashu-Service-connection"
  terraformRoot: "$(System.DefaultWorkingDirectory)/Azure-VM_SQLdatabase_KeyV-Secret_using_datablock/env/dev"

stages:
- stage: Init
  dependsOn: []
  jobs:
  - job: InitJob
    steps:
    - checkout: self
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
    - task: TerraformTaskV4@4
      inputs:
        provider: azurerm
        command: init
        workingDirectory: $(terraformRoot)
        backendServiceArm: $(azureServiceConnection)
        backendAzureRmResourceGroupName: "rg-bknd-ashu"
        backendAzureRmStorageAccountName: "stgbkendpipelineashu"
        backendAzureRmContainerName: "tfcontainer"
        backendAzureRmKey: "dev.tfstate"

- stage: Plan
  dependsOn: Init
  jobs:
  - job: PlanJob
    steps:
    - checkout: self
    
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
    - task: TerraformTaskV4@4
      inputs:
        provider: azurerm
        command: plan
        workingDirectory: $(terraformRoot)
        environmentServiceNameAzureRM: $(azureServiceConnection)

- stage: Apply
  dependsOn: Plan
  jobs:
  - job: ApplyJob
    steps:
    - checkout: self
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'    
    - task: TerraformTaskV4@4
      inputs:
        provider: azurerm
        command: apply
        workingDirectory: $(terraformRoot)
        environmentServiceNameAzureRM: $(azureServiceConnection)
        commandOptions: -auto-approve

